<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="~/EstiloR.css" type="text/css" />
    <meta http-equiv="content-type" content="text/html" charset="utf-8" />
    <title>ITESRC.</title>
</head>
<body>
    <header>
        <img src="http://itesrc.edu.mx/header2016.jpg"/>
    </header>
    <main>
        @RenderBody()
    </main>
    <footer>
        <p>Ingenieria en sistemas computacionales</p><br />
        <p>Programación Web</p><br />
        <p>Roles de Usuario</p><br />
        <p>Roberto Carlos Herrera Chavarria</p><br />
    </footer>
</body>
</html>