<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="~/EstiloRC.css" type="text/css" />
    <meta http-equiv="content-type" content="text/html" charset="utf-8" />
    
</head>


<body>
    <header>
        <div align="center">
            <img src="~/Images/cyberpuerta.png" />
        </div>
</header>
    <main>
        @RenderBody()
    </main>
    <footer>
        <p>Ingenieria en sistemas computacionales</p><br>
        <p>Roberto Carlos Herrera Chavarria</p><br>

        <div id="footercontent2" class="clear">
            <div class="footerbox4">
                <div style="vertical-align: middle; margin-top: 8px; display: block;">
                    <a href="https://www.cyberpuerta.mx/Modos-de-Pago/" style="display: inline-block; ">
                        <img src="https://www.cyberpuerta.mx/out/pictures/footer/pago.png" style="width: 32px; padding-right: 8px;" />
                    </a>
                    <img alt="Bancomer" src="//www.cyberpuerta.mx/out/pictures/wysiwigpro/modos-pago/spei-monex-bancomer-20px-v2.png" style="margin-right:8px" />
                    <img alt="Visa Mastercard Amex Paypal" src="//www.cyberpuerta.mx/out/pictures/wysiwigpro/footer/visa-paypal.png" style="" />
                    <img alt="Oxxo Pay" src="//www.cyberpuerta.mx/out/pictures/wysiwigpro/footer/oxxo-pay-20px.png" style="margin-left:8px; padding-right: 16px;" />
                </div>
            </div>
        </div>
    </footer>
</body>
</html>